.catalog {
  margin: 0 40px;
  display: grid;
  font-family: Roboto, sans-serif;
  @include font-size(11px, 400);

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, $card-width);
    justify-content: center;
    grid-gap: $item-row-gap $item-column-gap;
  
    @media (max-width: ($card-width * 4) + ($item-column-gap * 3) + 80px) {
      & {
        grid-template-columns: repeat(auto-fill, $card-width);
      }
    }
  }
}
